# Fix names
Benjamin Karabin <bmk5670@psu.edu>

# Fix email addresses
Jonathan Garelick <jbg5768@psu.edu> <41495718+jonathangarelick@users.noreply.github.com>
Benjamin Karabin <bmk5670@psu.edu> <118693576+bmk5670@users.noreply.github.com>
Akash Patel <amp6824@psu.edu> <33629052+thebom999@users.noreply.github.com>
Remi Toutin <rmt5532@psu.edu> <77463120+RETprojects@users.noreply.github.com>
Remi Toutin <rmt5532@psu.edu> <remitoutin@gmail.com>
