[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
django = "*"
fuzzy-c-means = "*"
nltk = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
scikit-learn-extra = "*"

[dev-packages]
'black[d]' = "*"
scrapy = "*"
