[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
scikit-learn-extra = "*"
scikit-fuzzy = "*"
nltk = "*"
django = "*"
mysqlclient = "*"
natsort = "*"

[dev-packages]
pandas = "*"
numpy = "*"
'black[d]' = "*"

[requires]
python_version = "3.10"
