<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'temp/common.css' %}">
</head>
<header><div class="topnav">
    <section> Penn State Behrend</section>
    <a class="" href="/temp/home">Home</a>
    <a class="" href="/temp/browsepattern">Browse Pattern</a>
    <a class="" href="/temp/submitpattern">Recommend a Pattern</a>
    <a class="active" href="/temp/collectpattern">Collect Patterns</a>
</div></header>
<body style="text-align: left;background-color: #d9d9d9">
    <section style="margin-left: 50px;margin-right: 50px;">
        <p style=" font-size: 25px">Design Pattern Recommendation System: Pattern Collection</p>
        <p style="line-height: 20px; font-size: 15px">Have an online design pattern repository? Put it into our database!</p>
        <p style="line-height: 20px; font-size: 15px">Write the URL to the library here:</p>
        <textarea id="textarea1" rows = 1 style="overflow: auto; resize: none; width: 50%;"></textarea>
        <p style="line-height: 20px; font-size: 15px">Are there any specific sections of pages that you would like to collect data from?</p>
        <textarea id="textarea2" rows = 1 style="overflow: auto; resize: none; width: 50%;"></textarea>
        <textarea id="textarea3" rows = 1 style="overflow: auto; resize: none; width: 50%; vertical-align: middle "></textarea>
        <button type="button" style="vertical-align: middle">+</button>
        <br>
        <button type="button" style="margin-top: 5px">Crawl</button>
    </section>
</body>
</html>