<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'temp/common.css' %}">
</head>
<header>
    <div class="topnav">
        <section> <img src="{% static 'temp/Penn_State_Behrend_logo.svg.png'%}", width="50px"> </section>
        <a class="" href="/temp/home">Home</a>
        <a class="" href="/temp/browsepattern">Browse Pattern</a>
        <a class="" href="/temp/submitpattern">Recommend a Pattern</a>
        {% if user.is_superuser %}
            <a class="active" href="/temp/collectpattern">Collect Patterns</a>
        {% endif %}
    </div>
</header>
<body style="text-align: left;background-color: #d9d9d9">
    <section style="margin-left: 50px;margin-right: 50px;">
        <p style=" font-size: 25px">Design Pattern Recommendation System: Pattern Collection</p>
        <form method="post">
          {% csrf_token %}
            <p style="line-height: 20px; font-size: 15px">Modify crawled pattern data. Specify pattern name.</p>
          {{ form.nameContent }}
          <br>
            <p style="line-height: 20px; font-size: 15px">Specify crawled pattern category. Recommended category: {{ category }}</p>
          {{ form.categoryContent }}
          <br>
            <p style="line-height: 20px; font-size: 15px">Additional modification to crawled data can be made here.</p>
          {{ form.descriptionContent }}
          <br>
          <button id="btn" type="submit" name="run_script" onclick="run()" style="margin-top: 5px">Add pattern to database</button>
        </form>
        {{ fileData|json_script:"fileData" }}
        <script>
            let fileData = JSON.parse(document.getElementById('fileData').textContent)
            document.getElementById("id_descriptionContent").value = fileData
            console.log(fileData)
            function run(){
                const urlContent = document.getElementById("id_urlContent")
                const sectionContent = document.getElementById("id_sectionContent")
                if(urlContent.value !== "" && sectionContent.value !== ""){
                    document.getElementById("p1").innerText= ""
                    document.getElementById("btn1").disabled = true
                    document.getElementById("btn2").click()
                }
            }
        </script>
    </section>
</body>