<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'temp/common.css' %}">
</head>
<header><div class="topnav">
    <section> <img src="{% static 'temp/Penn_State_Behrend_logo.svg.png'%}", width="50px"> </section>
    <a class="" href="/temp/home">Home</a>
    <a class="" href="/temp/browsepattern">Browse Pattern</a>
    <a class="active" href="/temp/submitpattern">Recommend a Pattern</a>
    {% if user.is_superuser %}
        <a class="" href="/temp/collectpattern">Collect Patterns</a>
    {% endif %}
</div></header>
<body style="text-align: left;background-color: #d9d9d9">
    <section style="margin-left: 50px;margin-right: 50px;">
        <p style=" font-size: 25px">Design Pattern Recommendation System: Pattern Selection</p>
        <p style="line-height: 20px; font-size: 15px">Here are the design patterns recommended for your design problems, ordered by similarity score.</p>
        <div style="display: flex">
            <div id="div1" style="flex: 15%; padding-bottom: 200px"></div>
            <div id="div2" style="flex: 15%;"></div>
            <div id="div3" style="flex: 15%;"></div>
        </div>
        <div style="float: bottom; display: flex">
            <div id="div4" style=" flex: 50%; float: right"><canvas id="Chart1"></canvas></div>
            <div id="div5" style=" flex: 50%; float: right"><canvas id="Chart2"></canvas></div>
        </div>
        {{ listList|json_script:"listList" }}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            let listList = JSON.parse(document.getElementById('listList').textContent);
            //console.log(listList)
            const ctx = document.getElementById('Chart1');
            const ctx2 = document.getElementById('Chart2');
            //ctx.options.responsive = true
            //ctx2.options.responsive = true
            new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: listList[0],
                  datasets: [{
                      backgroundColor: '#6b7dd6',
                    label: 'Total Percentage',
                    data: listList[1],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    },
                    x: {
                        ticks: {
                            autoSkip: false,
                            maxRotation: 75,
                            minRotation: 75,
                        },
                    }
                  }
                }
            });
            new Chart(ctx2, {
                type: 'bar',
                data: {
                  labels: listList[0],
                  datasets: [{
                      backgroundColor: '#7f6bd6',
                    label: 'Average Percentage',
                    data: listList[3],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: false
                    },
                    x: {
                        ticks: {
                            autoSkip: false,
                            maxRotation: 75,
                            minRotation: 75,
                        },
                    }
                  }
                }
            });
        </script>
        <!--
        <div style="display: flex">
            <div style="flex: 25%">
                <textarea id="textarea3" style="overflow: auto; resize: none; width: 90%; height: 627px; margin-top: 47px"></textarea>
            </div>
            <div style="flex: 50%">
                <p id="output1" style= "font-size: 15px; font-weight: bold">Design Pattern</p>
                <textarea id="textarea1" readonly rows = 20 style="overflow: auto; resize: none; width: 99.65%;">Problem Domain&#10</textarea>
                <p></p>
                <textarea id="textarea2" readonly rows = 20 style="overflow: auto; resize: none; width: 99.65%;">Solution Domain&#10</textarea>
            </div>
        </div>
        -->
        <!--
        {% for t in data %}
        <p>{{t}}</p>
        {% endfor %}
        -->
        {{ algorithmList|json_script:"algorithmList" }}
        {{ categoryList|json_script:"categoryList" }}
        {{ algorithmPatternList|json_script:"algorithmPatternList" }}
        {{ category|json_script:"category" }}
        <script>
            let algorithmList = JSON.parse(document.getElementById('algorithmList').textContent);
            let algorithmPatternList = JSON.parse(document.getElementById('algorithmPatternList').textContent);
            let categoryList = JSON.parse(document.getElementById('categoryList').textContent);
            let category = JSON.parse(document.getElementById("category").textContent)
            let buttonList1 = []
            let pList1 = []
            let buttonList2 = []
            let pList2 = []
            function run(){
                clearList(buttonList1)
                clearList(pList1)
                clearList(buttonList2)
                clearList(pList2)
                generateAlgorithms()
                buttonList1[1].click()
            }
            function recommendedCategory(){}
            function generateAlgorithms(){
                const btn = document.createElement("BUTTON")
                btn.textContent = "Algorithms"
                btn.style.width = "90%"
                buttonList1[buttonList1.length] = btn
                document.getElementById("div1").append(btn)
                const p = document.createElement('p')
                pList1[pList1.length] = p
                document.getElementById("div1").append(p)
                for(const x in algorithmList){
                    const btn = document.createElement("BUTTON")
                    btn.onclick = function(){
                            autoOnClick1(x);
                    };
                    btn.textContent = algorithmList[x]
                    btn.style.width = "90%"
                    buttonList1[buttonList1.length] = btn
                    const p = document.createElement('br')
                    pList1[pList1.length] = p
                    document.getElementById("div1").append(btn)
                    document.getElementById("div1").append(p)
                }
            }
            function autoOnClick1(index){
                clearList(buttonList2)
                clearList(pList2)
                const btn = document.createElement("BUTTON")
                btn.textContent = algorithmList[index]
                btn.style.width = "90%"
                buttonList2[buttonList2.length] = btn
                const p = document.createElement('br')
                pList2[pList2.length] = p
                document.getElementById("div2").append(btn)
                document.getElementById("div2").append(p)
                const p2 = document.createElement('p')
                pList2[pList2.length] = p2
                document.getElementById("div2").append(p2)
                for(const x in algorithmPatternList[index]){
                    const btn = document.createElement("BUTTON")
                    btn.onclick = function(){
                            autoOnClick2(x);
                    };
                    btn.textContent = algorithmPatternList[index][x]
                    btn.style.width = "90%"
                    buttonList2[buttonList2.length] = btn
                    const p = document.createElement('br')
                    pList2[pList2.length] = p
                    document.getElementById("div2").append(btn)
                    document.getElementById("div2").append(p)
                }
                const btn4 = document.createElement("BUTTON")
                btn4.textContent = "Recommended Category"
                btn4.style.width = "90%"
                buttonList2[buttonList2.length] = btn4
                document.getElementById("div3").append(btn4)
                const p4 = document.createElement('p')
                pList2[pList2.length] = p4
                document.getElementById("div3").append(p4)
                const btn5 = document.createElement("BUTTON")
                btn5.textContent = category
                btn5.style.width = "90%"
                buttonList2[buttonList2.length] = btn5
                document.getElementById("div3").append(btn5)
                const p6 = document.createElement('p')
                pList2[pList2.length] = p6
                document.getElementById("div3").append(p6)
                const p7 = document.createElement('br')
                pList2[pList2.length] = p7
                document.getElementById("div3").append(p7)
                const btn2 = document.createElement("BUTTON")
                btn2.textContent = "Algorithm Category"
                btn2.style.width = "90%"
                buttonList2[buttonList2.length] = btn2
                document.getElementById("div3").append(btn2)
                const p3 = document.createElement('p')
                pList2[pList2.length] = p3
                document.getElementById("div3").append(p3)
                const btn3 = document.createElement("BUTTON")
                btn3.textContent = categoryList[index]
                btn3.style.width = "90%"
                buttonList2[buttonList2.length] = btn3
                document.getElementById("div3").append(btn3)
            }
            function autoOnClick2(index){}
            function clearList(list){
                for(const x in list){
                    list[x].remove()
                }
            }
            window.onload = function() {
                run()
            }
        </script>
    </section>
</body>
</html>