<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'temp/common.css' %}">
</head>
<header><div class="topnav">
    <section> Penn State Behrend</section>
  <a class="" href="/temp/home">Home</a>
  <a class="" href="/temp/browsepattern">Browse Pattern</a>
  <a class="active" href="/temp/submitpattern">Recommend a Pattern</a>
</div></header>
<body style="text-align: left;background-color: #d9d9d9">
    <section style="margin-left: 50px;margin-right: 50px;">
        <p style=" font-size: 25px">Design Pattern Recommendation System: Pattern Selection</p>
        <p style="line-height: 20px; font-size: 15px">Have a software design problem? Describe it here and submit it to receive design pattern recommendations!</p>
        <section style="display: flex; justify-content:space-between;">
            Describe your problem here:
            <section>
            Select a pattern category:
            <label for="list1"></label>
            <select id="list1" onchange="run()" onload="run()">
                <!--
                 <option value="1">Object Oriented:Behavioral</option>
                 <option value="2">Object Oriented:Creational</option>
                 <option value="3">Object Oriented:Structural</option>
                -->
                 <option value="4">Realtime</option>
                 <option value="5">Security</option>
                 <option value="6">Object Oriented</option>
            </select>
            </section>
        </section>
        <label for="text"></label><textarea style="resize: none; width: 99.65%; height: 375px" id = "text" name="text" ></textarea>
        <button onclick="window.location.href='/temp/recommendpattern';">Submit</button>
    </section>
</body>
</html>